<div class="container mt-5">
  <div class="row">
    <div class="col-lg-6 my-auto">
      <h1>Welcome</h1>
      <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus lacinia odio vitae vestibulum vestibulum.</p>
      <div routerLink="/products" class="btn btn-primary btn-lg">See Products</div>
    </div>
    <div class="col-lg-6">
      <img src="https://via.placeholder.com/500" alt="Promo Image" class="img-fluid">
    </div>
  </div>
</div>

<div class="container mt-5">
  <div class="row">
    <div class="col-md-4 text-center">
      <div class="card p-4">
        <h3>Feature One</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
    </div>
    <div class="col-md-4 text-center">
      <div class="card p-4">
        <h3>Feature Two</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
    </div>
    <div class="col-md-4 text-center">
      <div class="card p-4">
        <h3>Feature Three</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
    </div>
  </div>
</div>

<div class="container mt-5 text-center">
  <h2>Ready to Start?</h2>
  <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
  <div routerLink="/" class="btn btn-success btn-lg">Lorem ipsum</div>
</div>
